.navbar {
  background-color: #ffffff;
  border-bottom: 1px solid #e9ebf0;

  .nav-links {
    color: #272b37;

    a {
      color: #272b37;

      &:hover {
        color: #F57F00;
      }
    }

    a.router-link-active {
      color: #F57F00;
    }
  }

  .home-link {
    .site-name {
      display: none;
    }
  }

  .links {
    background-color: transparent !important;
  }
}

body {
  font-family: "Avenir", "Helvetica", ui-sans-serif, sans-serif;
}
